<div class="container">
  <div class="row mb-4">
    <div class="col-md-12 flex-column d-flex text-center h1">
      AWS Translation Demo
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-2">
      <textarea class="text-input form-control"
                placeholder="Enter your text here. It can be in any language that AWS Translate supports."
                [(ngModel)]="sourceText"></textarea>
    </div>
    <div class="col-md-4 d-flex flex-wrap mb-2">
      <div class="d-flex align-items-center">
        Target language: &nbsp;
      </div>
      <div class="d-inline-block flex-grow-1">
        <select class="form-control" [(ngModel)]="targetLanguage">
          <option *ngFor="let language of supportedLanguages" [value]="language.code">{{language.name}}</option>
        </select>
      </div>
      <button class="btn btn-primary translate-button"
              (click)="translate()"
              [disabled]="!sourceText">
        Translate
      </button>
    </div>
    <div class="col-md-4 mb-2">
      <div class="translation">
        {{ translatedText }}
      </div>
      <button class="btn btn-secondary float-right"
              [hidden]="!audioUrl"
              (click)="playAudio()"
              [disabled]="!audio.ended">
        Play again
      </button>
    </div>
  </div>
</div>
